$soft-red: hsl(10, 79%, 65%);
$soft-red-hover: #ff9b86;
$cyan: hsl(186, 34%, 60%);
$cyan-hover: #b4e0e5;
$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$pale-orange: hsl(33, 100%, 98%);
